body{
    background-color: #E4E4E4;
}

.container-main{
    display: flex;
    flex-direction: column;
    border: solid red;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    min-height: 100vh;
    gap: 15px;
}
.main-title{
    text-align: center;
}

.contact-box{
    background-color: #77B0AA;
    display: flex;
    width: 50%;
}

.contact-form{
    flex: 1;
    padding: 40px 60px;

}

.contact-info{
    flex: 1;
    padding: 40px 60px;
    background: #E3FEF7;
}


/*media query for navigation*/
@media (max-width: 768px) {
    .container-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-box{
        flex-direction: column;
    }
}








