/* Top Contact Background */
.contact-bg {
    background: linear-gradient(
            rgba(100, 100, 100, 0.2), 
            rgba(0, 0, 0, 0.8)),
            url(Resources/contact-bg.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.contact-bg h2 {
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}

.contact-bg h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-bg p {
    font-weight: 300;
    opacity: 0.9;
    margin: 1.6rem 0;
}

/* Contact Container */
.contact-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Contact Information */
.contact-info {
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}

.contact-info span {
    display: block;
}

.contact-info img {
    width: 50px;
    height: 50px;
}

.contact-info .info {
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .text {
    padding-top: 0.4rem;
}

/* Contact Form */
.contact-form {
    padding: 2rem 0;
    border-top: 1px solid #c7c7c7;
}

.contact-form form {
    padding-bottom: 1rem;
}

.contact-form form .input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}

.form-control {
    width: 100%;
    border: 1.5px solid #c7c7c7;
    border-radius: 5px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    outline: 0;
}

.form-control:focus {
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

/* Send Message Button */
.send-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: rgb(26, 104, 104);
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    width: 100%;
}

.send-btn:hover {
    opacity: 0.8;
}

/* Breakpoint Styles */
@media (max-width: 576px) {
    .contact-bg {
        padding: 20px;
    }

    .contact-bg h2{
        font-size: 1.5rem;
    }

    .contact-bg h3 {
        font-size: 1.10rem
    }

    .contact-bg p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .contact-bg p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /* Make the contact information be 2 columns */
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .contact-bg p {
        width: 50%;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .contact-form form {
        width: 70%;
    }
}

@media screen and (min-width: 1200px) {
    /* Make the contact information be 4 columns */
    .contact-info {
        grid-template-columns: repeat(4, 1fr);
    }
}
