*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E4E4E4;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #1A6868;
    padding: 20px;
}

nav a{
    text-decoration: none;
}

.container-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.links{
  background-color: #ddd;
  border-radius: 10px;
  color: black;
  padding: 5px 25px;
  transition: 0.3s;
  cursor: pointer
}

.links:hover{
  background-color: #3e8e41;
  color: white;
}

.container-main{
    display: flex;
    flex-direction: column;
    border: solid red;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
    min-height: 100vh;
    gap: 15px;
}
.main-title{
    text-align: center;
}

.contact-box{
    background-color: #77B0AA;
    display: flex;
    width: 50%;
}

.contact-form{
    flex: 1;
    padding: 40px 60px;

}

.contact-info{
    flex: 1;
    padding: 40px 60px;
    background: #E3FEF7;
}


/*media query for navigation*/
@media (max-width: 768px) {
    .container-links{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-box{
        flex-direction: column;
    }
}








