nav {
    display: flex;
    background-color: rgb(26, 104, 104);
    padding: 20px 15px;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2.5em;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
}

.nav-group {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.nav-group li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    padding: 0 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .25s;
}

.nav-link:hover {
    color: #d6d6d6;
}

/* CSS animation for underline of the navigation links in nav */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.8rem;
    width: 100%;
    height: 3px;
    width: 100%;
    background: white;
    scale: 0 1;
    transition: scale .25s;
}
  
/* Will show the underline of the navigation link on hover */
.nav-link:hover::after {
    scale: 1 1;
}

.active::after {
    scale: 1 1;
}

@media (max-width: 768px) {
    nav {
        padding: 35px;
        flex-direction: column;
        gap: 20px;
    }

    .nav-group {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .nav-link:hover::after {
        scale: .5 1;
    }

    .active::after {
        scale: .5 1;
    }
}